#portal-personaltools-wrapper .actionMenu {
  // We need to handle the personaltools menu diffrent becuase its always above the searchbar.
  z-index: 5;
}

.actionMenu {
  margin: 0;
  position: relative;

  /* Because the gridsystem uses relative position we have to set a fixed z-index for the actionMenu */
  z-index: 3;

  &.activated {
    .actionMenuContent {
      display: block;
    }
  }
}
.actionMenuHeader a {
  @include no-link();
  display: block;
  padding: $padding-vertical $padding-horizontal;
}
.actionMenuContent {
  margin: 0;
  display: none;
  position: absolute;
  right: 0;
  box-shadow: $box-shadow-secondary;
  > ul {
    @include list-group-interactive();
  }
}
.actionSeparator > div {
  padding: $padding-vertical / 2 $padding-horizontal / 2;
  background-color: $color-content-background;
  font-weight: bold;
}


#column-content section.actionMenu header,
#column-content dl.actionMenu dt,
dl.actionMenu dt,
section.actionMenu header {
  font-weight: normal;
}

@mixin mobilemenu {
  position: absolute;
  right: 0;
  left: 0;
  top: 34px;
  z-index: 5;
  margin: auto;
  cursor: default;

  ul li {
    display: block;

    a {
      display: block;
      background: transparent;
      padding: 1em;
      @include auto-text-color();
      white-space: nowrap;

      &:hover {
        background-color: $color-primary;
        text-decoration: none;
      }
    }
  }
}

