#portal-languageselector-wrapper {
  @include screen-small() {
    display: block;
  }
  display: none;
  float: left;

  .actionMenuHeader {
    a {
      @extend .fa-icon;
      @extend .fa-caret-down;
      padding-right: $padding-horizontal;

    }
  }
}
