$portlet-column-bg-color: transparent !default;

.portlet {
  @include reset-definition-list;
  margin-bottom: $margin-vertical;
  padding-bottom: $padding-vertical;
  border-bottom: 1px solid $color-gray-dark;
}

.portletHeader {
  font-size: $font-size-h2;
  margin-bottom: $margin-heading-vertical;
}

.portletItem {
  margin-bottom: $margin-vertical * 2;

  &.lastItem {
    margin-bottom: 0;
  }
}

.portletFooter {
  margin: $margin-vertical 0;
}

.managedPortlet {
  @include borderradius-bottom-right;
  @include borderradius-bottom-left;
  padding: 0;
  border: 0;
  margin-bottom: $margin-vertical;

  &:last-child {
    margin: 0;
  }

  .portletHeader {
    padding: $padding-vertical $padding-horizontal;
  }
}

.portletAssignments {
  @include borderradius;

  padding: $padding-vertical $padding-horizontal;
  border: 1px solid $color-gray-dark;
  background-color: $color-gray-light;
  margin-bottom: $margin-vertical;

  .portletHeader {
    @include borderradius;
    font-size: $font-size-base;
    margin: 0;
    background-color: $color-white;
    border: 1px solid $color-gray-dark;

    > a {
      @include borderradius;
      @include list-group-item-interactive();
      border: 1px solid $color-gray-dark;
      padding: $padding-vertical $padding-horizontal;
      display: block;
    }
  }
}

.managedPortletActions {
  display: block;
  margin-bottom: $margin-vertical;

  .portlet-action {
    display: inline-block;

    button {
      margin: 0;
      padding: ($padding-vertical / 2) ($padding-horizontal / 2);
    }
  }
}

.portlets-manager {
  .section {
    padding: $padding-vertical $padding-horizontal;
    background-color: $color-gray-light;
    border: 1px solid $color-gray-dark;
    margin-bottom: $margin-vertical;
  }

  select {
    width: 100%;
  }
}

select[name="context_status:int"],
select[name="group_status:int"],
select[name="content_type_status:int"] {
  margin: ($margin-vertical / 2) 0;
}

.portletAssignments > form > div {
  background-color: $color-content-background;
  border: 1px solid $color-gray-dark;
  padding: $padding-vertical $padding-horizontal;
  margin-bottom: $margin-vertical;
  font-weight: bold;

  .portletHeader {
    padding: 0;
    border: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.formControls {
    border: none;
    padding: 0;
    text-align: center;
    background-color: transparent;

    input {
      margin: 0;
    }
  }
}
