table.mceLayout {
  td.mceIframeContainer {
    border: none;
    @include input();
    padding: 0;
    width: 100%;
  }

  &.mceEditorFocus {
    td.mceIframeContainer {
      border: 1px solid $color-primary;
      @include boxshadow(0 1px 1px transparentize($color-primary, 0.8) inset,
                         0 0 5px transparentize($color-primary, 0.6));
      background: $color-content-background;
    }
  }

  tr.mceLast {
    td.mceStatusbar {
      border: none;
      #text_path_row {
        display: none;
      }
      #text_resize {
        top: -22px;
        position: relative;
        display: block;
        float: right;
      }
    }
  }
}

body.mceContentBody {
  padding: 0.5em;

  a {
    color: $color-link !important;
    font-weight: $font-weight-link;
    text-decoration: $text-decoration-link !important;
    border-bottom: none !important;

    &:hover {
      color: $color-link-hover;
      text-decoration: $text-decoration-link-hover;
    }
  }
}

/* TinyMCE dialog styles */

.dialog-wrapper {

  .formTabs {
    @include tab-list;
    height: 2.12em;
    > li {

      &:first-child > span > a {
        padding-left: $padding-horizontal;
      }

      &:last-child > span > a {
        padding-right: $padding-horizontal;
      }

      & {
        > span > a.selected {
          @include tab-select($color-tab-select);
        }
      }
      > span > a {
        @include tab($color-tab);
      }
    }

  }

  .mceActionPanel {
    // Abord button
    input[type="button"]#cancel {
      @include button-danger;
    }

    input[type="submit"]#insert {
      @include button-success;
    }
    select {
      margin: $margin-vertical $margin-horizontal;
    }
  }

  // Table row Panel
  #styleSelectRow {
    display: none; // Broken by default
  }

  // Table cell Panel
  .hiddenset {
    display: none;
  }

}


/* TinyMCE styles */

ul {
  &.listTypeDisc {
    list-style-type: disc;
  }
  &.listTypeSquare {
    list-style-type: square;
  }
  &.listTypeCircle {
    list-style-type: circle;
  }
}

ol {
  &.listTypeDecimal {
    list-style-type: decimal;
  }
  &.listTypeLowerAlpha {
    list-style-type: lower-alpha;
  }
  &.listTypeUpperAlpha {
    list-style-type: upper-alpha;
  }
  &.listTypeLowerRoman {
    list-style-type: lower-roman;
  }
  &.listTypeUpperRoman {
    list-style-type: upper-roman;
  }
}
