.searchButton {
  @include hidden-structure();
}

.searchSection {
  label {
    padding-bottom: 0;
    padding-top: $padding-vertical / 2;
  }
}

#portal-searchbox {
  input[type=text] {
    min-width: 0;
    width: 100%;
  }
}

#livesearchLegend {
  @include hidden-structure();
}

.LSBox {
  @extend .fa-icon-right;
  @include clearfix();
  position: relative;
  z-index: 2;
  &:after {
    content: "\f002";
    position: absolute;
    visibility: visible;
    top: $padding-vertical;
    right: $padding-vertical;
    min-width: 0 !important;
    margin: 0 !important;
  }
  input[type="text"] {
    padding-right: 2 * $padding-vertical + 1em;
  }
}

.LSResult {
  position: absolute;
}

.LSTable {
  @include list-group-interactive();
  box-shadow: $box-shadow-secondary;
}

.advancedsearchlink.advanced-search {
  font-weight: bold;
}
