$mark-broken-links: true !default;

@include declare-variables(
  mark-broken-links);

.hiddenStructure {
  @include hidden-structure();
}

dl.collapsible {
  dt {
    cursor: pointer;
  }
  dd {
    display: none;
  }
  &.expandedBlockCollapsible dd {
    display: block;
  }
}

.documentByLine {
  color: $color-text-light;
  margin-bottom: $margin-vertical;
  font-size: $font-size-small;
}

#category.documentByLine {
  .separator {
    display: none;
  }
  a {
    @include label($color-primary);
  }
}


@if $mark-broken-links {
  a.broken-link {
    outline: 2px dotted $color-danger;
    @extend .fa-icon;
    @extend .fa-exclamation-triangle;
    &:before {
      color: $color-danger;
    }
  }
}

iframe {
  border: 0;
}

.draggingHook {
  vertical-align: middle;
  font-size: 0;
  @extend .fa-icon;
  @extend .fa-bars;
  &:before {
    font-size: $font-size-base;
    padding-right: $padding-horizontal;
  }
}
