#edit-bar {
  @include clearfix();
  background-color: $color-edit;
  margin-bottom: $margin-vertical;
}

.contentActions {
  float: right;
}

#contentActionMenus {
  @include list-horizontal($direction: rtl);

  .actionMenuHeader a {
    @include auto-text-color($color-edit);
  }

}

#content-views {
  @include tab-list();
  float: left;
}
