.portaltype-plone-site {
  #breadcrumbs-wrapper {
    display: none;
  }
  #columns {
    padding-top: $margin-vertical;
  }
  #edit-bar {
    margin-top: -$margin-vertical;
    margin-bottom: $margin-vertical;
  }
}

#content-core {
  @include clearfix();
}

#header {
  @include clearfix();
}

#columns {
  background-color: $color-content-background;
  > .row {
    @include row();
  }
}

#breadcrumbs-wrapper {
  @include clearfix();
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
}

#portal-breadcrumbs {
  @include clearfix();
  margin-bottom: $margin-vertical;
}

#column-content {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
  > .row {
    @include row();
  }
}

#column-sidebar {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
}

#column-navigation {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
}

#bottom-actions {
  @include clearfix();
  background-color: $color-primary;
}

.logo {
  @include row();
  margin-bottom: $margin-vertical;
}

#portal-logo {
  @include screen-small() {
    @include gridwidth(10);
    margin-bottom: 0;
  }
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);

  margin-bottom: $margin-vertical;

  > img {
    vertical-align: middle;
  }

}

.navigation {
  border-bottom: 1px solid $color-primary;
  margin-bottom: $margin-vertical;

}

.navigation-row {
  @include row();
}

.global-navigation {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
}

#portal-searchbox {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
  clear: both;

  @include screen-small() {
    @include gridposition(10);
    @include gridwidth(6);
    clear: none;
  }
}

// Responsive styles if both columns are available
.has-nav-column.has-sidebar-column {
  #column-content {

    @include screen-medium {
      @include gridposition(0);
      @include gridwidth(10);
    }

    @include screen-large {
      @include gridposition(4);
      @include gridwidth(8);
    }

  }

  #column-sidebar {

    clear: both;

    @include screen-medium {
      @include gridposition(10);
      @include gridwidth(6);
      clear: none;
    }

    @include screen-large {
      @include gridposition(12);
      @include gridwidth(4);
    }

  }

  #column-navigation {
    display: none;
    @include screen-large {
      display: block;
      @include gridposition(0);
      @include gridwidth(4);
    }

  }
}

// Responsive styles if only the navigation column is available
body.has-nav-column:not(.has-sidebar-column) {
  #column-content {

    @include screen-medium {
      @include gridposition(4);
      @include gridwidth(12);
    }

  }

  #column-navigation {
    display: none;

    @include screen-medium {
      display: block;
      @include gridposition(0);
      @include gridwidth(4);
    }

  }
}

// Responsive styles if only the sidebar column is available
body.has-sidebar-column:not(.has-nav-column) {
  #column-content {

    @include screen-medium {
      @include gridposition(0);
      @include gridwidth(10);
    }

    @include screen-large {
      @include gridposition(0);
      @include gridwidth(12);
    }

  }

  #column-sidebar {

    clear: both;

    @include screen-medium {
      @include gridposition(10);
      @include gridwidth(6);
      clear: none;
    }

    @include screen-large {
      @include gridposition(12);
      @include gridwidth(4);
    }

  }
}
