.searchButton {
  @include hidden-structure();
}

.searchSection {
  display: none;
}

#portal-searchbox {
  input[type=text] {
    min-width: 0;
    width: 100%;
    float: right;
  }
}

#livesearchLegend {
  @include hidden-structure();
}

.LSBox {
  @extend .fa-icon-right;
  @include clearfix();
  position: relative;
  z-index: 4;
  &:after {
    content: "\f002";
    position: absolute;
    visibility: visible;
    top: $padding-vertical;
    right: $padding-vertical;
    min-width: 0 !important;
    margin: 0 !important;
  }
  input[type="text"] {
    padding-right: 2 * $padding-vertical + 1em;
  }
}

.LSResult {
  position: absolute;
  top: $line-height-base + 2 * $padding-vertical;
}

.LSTable {
  @include list();
  box-shadow: $box-shadow-secondary;

  > li {
    @include list-group-item();

    &:hover {
      @include list-group-item-select();

      > a {
        @include auto-link-color($color-primary);
      }
    }

    > a {
      padding: 0;
    }
  }
}

.LSDescr {
  white-space: normal;
  font-size: $font-size-small;
}

.advancedsearchlink.advanced-search {
  font-weight: bold;
}
