.portlet.portletNavigationTree {
  border: 0;
}

.navTree {
  @include list();

  > li {

    > a {
      @include list-group-item-interactive($color-gray-light);
      padding: $padding-vertical $padding-horizontal / 2 $padding-vertical 0;
      display: table;
      width: 100%;

      &:before {
        display: table-cell;
      }

      span {
        white-space: normal;
        display: table-cell;
        width: 100%;
      }
      &.navTreeItemInPath, &.navTreeCurrentItem {
        font-weight: bold;
      }
      &.navTreeCurrentItem {
        background-color: $color-gray-light;
      }
    }
  }
}


@for $i from 0 through 10 {
  .navTreeLevel#{$i} > li > a {
    padding-left: $padding-horizontal * ($i + 0.5);
  }
}

#portal-globalnav {
  @include list-horizontal();

  > li {
    &.selected > a {
      border-bottom-color: $color-primary;
    }

    &:first-child > a {
      padding-left: $padding-horizontal / 2;
    }

    &:last-child > a {
      padding-right: $padding-horizontal / 2;
    }

    > a {
      @include no-link();
      font-size: $font-size-medium;
      padding: $padding-vertical ($padding-horizontal / 2);
      border-bottom: 3px solid transparent;
      &:hover {
        border-bottom-color: $color-primary;
      }
    }
  }
}
