#exposeMask,
#cboxOverlay,
#exposeMask,
.contenttreeWindowBlocker {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  opacity: .8 !important;
  height: auto !important;
  width: auto !important;
  z-index: 999 !important;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlay-open {
  body {
    overflow: hidden;
  };
}

.overlay,
.contenttreeWindow {
  @include overlay();
  @include overlay-large();

  z-index: 1000 !important;
  display: none;

  .close {
    @extend .fa-icon;
    @extend .fa-close;
    @include link();
    @include auto-text-color($color-link);
    position: absolute;
    right: - 1.5 * $padding-vertical;
    top: - 1.5 * $padding-vertical;
    background: $color-link;
    border-radius: 50%;
    &:hover {
      @include auto-text-color($color-link-hover);
      background-color: $color-link-hover;
    }
    &:before {
      min-width: 0 !important;
      margin: 0 !important;
      width: $font-size-base;
      height: $font-size-base;
      line-height: $font-size-base;
      padding: $padding-vertical;
    }
  }


  .formControls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $padding-vertical $padding-horizontal;
    box-sizing: border-box;
    background-color: $color-content-background;
    border-bottom-right-radius: $border-radius-primary;
    border-bottom-left-radius: $border-radius-primary;
    right: 0;
    > input {
      // http://blog.getpostman.com/2015/01/23/ui-repaint-issue-on-chrome/
      -webkit-transform: translate3d(0, 0, 0)
    }
  }
}

.overlay-login {
  @include overlay-small();
}

.overlay-edit {
  @include overlay-large();
}

.overlay-add {
  @include overlay-large();
}

.overlay-delete {
  @include overlay-small();
}

.overlay-upload {
  @include overlay-large();
}

#exposeMask + .contenttreeWindow {
  z-index: 1001 !important;
}

#exposeMask + .contenttreeWindow + .contenttreeWindowBlocker {
  z-index: 1000 !important;
}

.pb-ajax {
  @include boxsizing(border-box);
  overflow: auto;
  width: 100%;
  height: 100%;

  &:after {
    /*
      Add some space so that we can place the buttons (save / cancel)
      absolutely.
      We need to do this with an after pseudo element in order to support IE11.
   */
    content: "";
    display: block;
    height: $padding-vertical * 4 + $margin-vertical + 1em;
  }
}
