#exposeMask {
  z-index: $zindex-overlay - 10 !important;
}

.overlay {
  z-index: $zindex-overlay !important;
}

.contenttreeWindowBlocker {
  z-index: $zindex-overlay + $zindex-overlay - 10 !important;
}

.contenttreeWindow {
  z-index: $zindex-overlay + $zindex-overlay !important;
}

#exposeMask,
#cboxOverlay,
.contenttreeWindowBlocker {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  opacity: .8 !important;
  height: auto !important;
  width: auto !important;
  z-index: $zindex-overlay - 10 !important;
  @include linear-gradient(
    right,
    #29323c,
    #485563
  );
}

.overlay-open {
  body {
    overflow: hidden;
  };
}

.ajax-loading {
  body {
    @include spinner();
    > * {
      @include filter(blur(2px) grayscale(60%));
    }
  }
}

.overlay,
.contenttreeWindow {
  @include overlay();
  @include overlay-large();

  display: none;

  .close {
    @extend .fa-icon;
    @extend .fa-close;
    @include link();
    @include auto-text-color($color-link);
    position: absolute;
    right: - 1.5 * $padding-vertical;
    top: - 1.5 * $padding-vertical;
    background: $color-link;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    &:hover {
      @include auto-text-color($color-link-hover);
      background-color: $color-link-hover;
    }
    &:before {
      line-height: 40px;
    }
  }


  .formControls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $padding-vertical $padding-horizontal;
    box-sizing: border-box;
    background-color: $color-content-background;
    border-bottom-right-radius: $border-radius-primary;
    border-bottom-left-radius: $border-radius-primary;
    right: 0;
    > input {
      // http://blog.getpostman.com/2015/01/23/ui-repaint-issue-on-chrome/
      -webkit-transform: translate3d(0, 0, 0)
    }
  }
}

.overlay-login {
  @include overlay-small();
}

.overlay-edit {
  @include overlay-large();
}

.overlay-add {
  @include overlay-large();
}

.overlay-delete {
  @include overlay-small();
}

.overlay-upload {
  @include overlay-large();
}

.pb-ajax {
  overflow: auto;
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;

  .documentFirstHeading {
    font-size: $font-size-base;
    font-weight: normal;
  }

  &:after {
    /*
      Add some space so that we can place the buttons (save / cancel)
      absolutely.
      We need to do this with an after pseudo element in order to support IE11.
   */
    content: "";
    display: block;
    height: $padding-vertical * 4 + $margin-vertical + 1em;
  }
}
