.masthead {
  background-color: $color-primary;
  height: $line-height-base + 2 * $padding-vertical;
  margin-bottom: $margin-vertical;
}

#portal-top {
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
  .actionMenuHeader > a {
    @include auto-link-color($color-primary);
    padding-right: 0;
    padding-left: $padding-horizontal / 2;
  }
}

#portal-personaltools-wrapper {
  float: right;
  > ul {
    @include list-horizontal();
  }
}

#anon-personalbar {
  > a {
    @include no-link();
    @include auto-link-color();
  }
}

#user-name {
  @extend .fa-icon;
  @extend .fa-user;
}

#portal-languageselector {
  @include tab-list();
  .currentLanguage {
    a {
      @include tab-select();
    }
  }
}
