* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: $font-size-base;
}

body {
  @include clearfix();
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-primary;
  color: $color-text;
  background-color: $color-page-background;
}

img {
  max-width: 100%;
  height: auto;
}
