#portal-sitemap {
    > li {
        margin-bottom: $margin-vertical / 2;

        > div > a {
            font-size: $font-size-medium;
        }
    }

    .navTree {
        list-style-type: inherit;
        padding-left: $padding-horizontal;
        > li {
            display: list-item;
        }
    }
}
