@mixin heading-cell() {
  border-bottom: 2px solid $color-primary;
}

table {
  width: 100%;
  margin-bottom: $margin-vertical;
  border-radius: $border-radius-primary;
}

caption {
  @include heading-cell();
  padding: $padding-vertical $padding-horizontal;
  font-weight: bold;
}

tr {
  &:last-child {
    td {
      border: 0;
    }
  }
  td {
    border-bottom: 1px solid $color-gray-dark;
  }
}

td, th {
  text-align: left;
  padding: $padding-vertical $padding-horizontal $padding-vertical 0;
  vertical-align: top;

  &:last-child {
    padding-right: 0;
  }
}

thead tr {
  th, td {
    @include heading-cell();
  }
}

tfoot tr {
  th, td {
    @include heading-cell();
  }
}

table.listing {
  td {
    border-color: $color-gray-light;
  }
  tr:nth-child(even) td {
    background-color: $color-gray-light;
  }
}

table.invisible {
  td {
    border: 0;
  }
}
