body {
  font-family: $font-family-primary;
}

/*
  Headings
 */
h1, h2, h3, h4 {
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  margin-top: 0;
  margin-bottom: $margin-heading-vertical;
  line-height: $line-height-base;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

.documentFirstHeading {
  margin-top: 0;
}

/*
  Text
 */
p {
  margin-bottom: $margin-paragraph-vertical;
  margin-top: 0;
}

.ftw-simplelayout-textblock .sl-block-content ul {
    list-style-position: outside;
    margin: 0 0 $margin-vertical ($line-height-base + $margin-horizontal);
    padding: 0;

    li {
      position: relative;
      left: $margin-horizontal;
      margin-right: $margin-horizontal;
    }
}

.documentDescription {
  margin-bottom: $margin-vertical;
  font-weight: bold;
}

/*
  Links
 */
a, a:visited {
  color: $color-link;
  text-decoration: $text-decoration-link;
  font-weight: $font-weight-link;
  &:hover {
    color: $color-link-hover;
    text-decoration: $text-decoration-link-hover;
  }
}

strong a {
  font-weight: inherit;
}
