.navTree {
  @include list();

  > li > a {
    padding: $padding-vertical 0;
    display: table;
    width: 100%;
    text-align: left;

    &:before {
      display: table-cell;
      font-weight: normal;
    }

    span {
      display: table-cell;
      width: 100%;
    }
  }
}

@for $i from 1 through 10 {
  .navTreeLevel#{$i} > li > a {
    padding-left: $padding-vertical * $i;
  }
}

.navTreeTopNode a {
  padding: $padding-vertical 0;
  font-weight: bold;
}
