@mixin heading-cell() {
  @include auto-text-color();
  background-color: $color-primary;
}

table {
  width: 100%;
  margin-bottom: $margin-vertical;
  border-radius: $border-radius-primary;
}

caption {
  @include heading-cell();
  padding: $padding-vertical $padding-horizontal;
  font-weight: bold;
  border-top-left-radius: $border-radius-primary;
  border-top-right-radius: $border-radius-primary;

  ~ thead tr {
    th, td {

      &:first-child {
        border-top-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
      }
    }
  }

  ~ tbody tr th {
    &:first-child {
      th {
        border-top-left-radius: 0;
      }
    }
    &:last-child {
      th {
        border-bottom-left-radius: 0;
      }
    }
  }
}

tr {
  &:last-child {
    td {
      border: 0;
    }
  }
  td {
    border-bottom: 1px solid $color-gray-dark;
  }
}

td, th {
  text-align: left;
  padding: $padding-vertical $padding-horizontal;
}

thead tr {
  th, td {
    @include heading-cell();

    &:first-child {
      border-top-left-radius: $border-radius-primary;
    }

    &:last-child {
      border-top-right-radius: $border-radius-primary;
    }
  }
}

tbody tr {
  &:first-child {
    th {
      border-top-left-radius: $border-radius-primary;
    }
  }
  &:last-child {
    th {
      border-bottom-left-radius: $border-radius-primary;
    }
  }
}

tfoot tr {
  th, td {
    @include heading-cell();

    &:first-child {
      border-bottom-left-radius: $border-radius-primary;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-primary;
    }
  }
}

table.listing {
  td {
    border-color: $color-gray-light;
  }
  tr:nth-child(even) td {
    background-color: $color-gray-light;
  }
}

table.invisible {
  td {
    border: 0;
  }
}
