/*
  Fonts
 */

$color-page-background: $color-gray-light !default;
$color-content-background: $color-white !default;

$spinner-url: "++resource++plonetheme.blueberry/images/spinner.gif";

@include declare-variables(
  color-page-background,
  color-content-background);
