.ac_results {
  z-index: $zindex-overlay + $zindex-overlay + $zindex-dropdown !important;
  min-width: 400px;
  box-shadow: $box-shadow-secondary;

  ul {
    @include list-group-interactive();
    max-height: 400px !important;
  }

  li {
    @include list-group-item-interactive();
  }

}
