.datagridwidget-table-view {

  width: 100%;
  border: 1px solid $color-gray-dark;
  background: none;

  .formControls {
    display: none;
  }

  .select2.select2-container .select2-selection--single {
    border: 0;
  }

  .header {
    font-size: em($font-size-base);
    background-color: $color-gray-light;
    color: $color-text;
    padding: $padding-vertical $padding-horizontal;
    border-bottom: 1px solid $color-gray-dark;
    border-left: 1px solid $color-gray-dark;

    &:last-child {
      border-left: none;
    }
  }

  label {
    padding: 0;
  }

  input[type="text"], select {
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 0 $padding-horizontal / 2;

    &:focus {
      background-color: $color-gray-light;
      border-color: $color-gray-dark;
    }
  }

  input[type="checkbox"], input[type="radio"] {
    margin-left: $padding-horizontal / 2;
  }

  input[type="button"] {
    border-radius: 0;
  }

  .datagridwidget-cell {
    vertical-align: middle;
    padding: 0;
    border-left: 1px solid $color-gray-dark;

    &:first-child {
      border-left: 0;
    }
  }

  .querySelectSearch {
    .field {
      margin: 0;
    }
    input[type="text"] {
      width: 70%;
      float: left;
    }

    input[type="button"] {
      width: 30%;
      float: left;
      margin: 0;
    }
  }

}


.datagridwidget-hidden-data {
  display: none;
}

.datagridwidget-empty-row { display: none; }

.datagridwidget-manipulator {
  @extend .fa-icon;
  position: relative;
  padding: 0;
  width: 1px;
  vertical-align: middle;
  text-align: center;

  &.insert-row {
    @extend .fa-plus;
  }
  &.delete-row {
    @extend .fa-minus;
  }
  &.move-up {
    @extend .fa-arrow-up;
  }
  &.move-down {
    @extend .fa-arrow-down;
  }

  img {
    @include link();

    // The eventhandles for the buttons are registered to the img tags.
    // So make sure that the images cover the icons to trigger the actions.
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

}

.insert-row {
  border-left: 1px solid $color-gray-dark;
}

// Disable "delete" action for auto-append column: it is used for inserting
// new columns and should therefore not be removable.
.auto-append  > .datagridwidget-manipulator {
  &.delete-row {
    &:before, a {
      display: none;
    }
  }
}
