.blueberry-government {

  #content-views {
    > li > a {
      border-top: 2px solid $color-secondary;
    }
  }

  ul#portal-languageselector {
    @include list-horizontal;

    > li > a {
      @include no-link;

      background-color: transparent;

      @include auto-link-color($color-page-background);

      border-bottom: none;
      padding: $padding-vertical ($padding-horizontal / 2);
      &:hover {
        text-decoration: underline;
        border-bottom: none;
        &:before {
          background-color: transparent;
        }
      }
      &.current {
        font-weight: bold;
      }
    }
  }

  #portal-siteactions > li > a {
    @include auto-link-color($color-page-background);
  }

  .masthead {
    min-height: $line-height-base + 2 * $padding-vertical;
    height: auto;
    margin-bottom: 0;

    @include tablet {
      background-color: transparent;
    }
  }

  #anon-personalbar a {
    @include auto-link-color($color-page-background);
  }

  #service-navigation ul li a {
    @include auto-link-color($color-page-background);
    &:hover {
      text-decoration: underline;
    }
  }

  #header {
    padding-top: $margin-vertical;
  }

  #portal-personaltools-wrapper .actionMenuHeader a {
    @include auto-link-color($color-page-background);
  }

  #bottom-actions {
    background-color: transparent;
  }

  #footer {
    margin-top: 0;
    padding-top: $margin-vertical;
    border-bottom-left-radius: $border-radius-primary;
    border-bottom-right-radius: $border-radius-primary;
  }

  #ftw-footer {
    border-bottom-right-radius: $border-radius-primary;
    border-bottom-left-radius: $border-radius-primary;
    padding: 0;
  }

  #page-wrapper {
    @include row();
    box-shadow: none;
    border-radius: $border-radius-primary;
    background-color: $color-content-background;

    @include tablet {
      box-shadow: $box-shadow-secondary;
    }

  }
}
