$height-banner: 800px !default;
$color-header: $color-gray-light !default;
$color-top-section: $color-primary !default;

@include declare-variables(
  $height-banner,
  $color-header);

.blueberry-marketing {

  #service-navigation {
    @include cell();
    @include gridposition(4);
    @include gridwidth(12);

    > ul {
      @include list-horizontal($direction: rtl);

      > li > a {
        @include auto-link-color($color-top-section);
      }
    }
  }

  #masthead {
    background-color: $color-header;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: $box-shadow-secondary;
  }

  .documentFirstHeading {
    display: none;
  }

  #header {
    @include row();
    padding: 2 * $padding-vertical 0;
  }

  .top-section {
    background-color: $color-top-section;
    > .row {
      @include row();
    }
  }

  .dachmarke {
    @include cell();
    @include gridposition(0);
    @include gridwidth(4);
  }

  #portal-searchbox {
    display: none;
  }

  #columns {
    margin-top: 0;
    padding: 0;
  }

  .logo {
    @include cell();
    @include gridposition(0);
    @include gridwidth(16);

    @include screen-small() {
      @include gridposition(0);
      @include gridwidth(4);
    }
  }

  #portal-logo {
    position: static;
    float: none;
    left: auto;
    margin-left: 0;
    width: auto;
  }

  .globalnav {
    @include cell();
    @include gridposition(0);
    @include gridwidth(16);
    clear: both;

    @include screen-small() {
      @include gridposition(4);
      @include gridwidth(12);
      clear: none;
    }
  }


  #portal-globalnav {
    @include screen-small() {
      float: right;
    }

    > li {

      &.selected > a {
        color: $color-primary;
      }

      > a {
        border: 0;
        font-size: 1em;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  #footer {
    margin-top: 0;
    padding-top: $margin-vertical;
  }

  #ftw-footer {
    padding-top: 0;
  }

  .banner {
    margin-top: $line-height-base * 2 + 6 * $padding-vertical + $margin-vertical;
    margin-bottom: $margin-vertical;
    height: $height-banner;
    @include screen-large() {
      background-position: center center;
    }
  }

  .mobileButtons {
    > li > a {
      @extend .fa-icon;
      @include auto-text-color($color-header);
    }
  }
}
